#editeur{
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
    background-color: salmon;
    resize:none;
    width: 50%;
    height: 200px;
    font-size: 34px;
    color:blueviolet;
    box-shadow: 2px 2px 2px 2px violet;
    border-radius: 10px;
  }

body{
  background-color: burlywood;
  word-wrap: break-word;
  clear: both;
}

#edited{
  font-size: larger;
}

.giff{
  visibility: hidden;
  width: 10%;
  border-radius: 50%;
  }

#compte{
  font-weight: bold;
}

#progBar {
width: 60%;
height: auto;
background-color:grey;
}

h1 {
  display: inline-block;
}

#switch{
  float: right;
}

#fond{
  width: 60%;
  height: 30px;
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
}

#prog{
  width: 20%;
  height: 30px;
  border-radius: 10px;
}